<!------------------------HEADER :: 공통 ----------------------->
<!DOCTYPE html>
<html style="height: 100%;">
<head>
	<%-include('head/header.ejs')%>
</head>
<body class="fp-bodybg">
	<div class="wrapper">
		<%-include('head/nav.ejs')%>
		<!------------------------HEADER::공통------------------------>

							<!-- javascript:검색어 체크 -->
							<script type="text/javascript">
								function keyworkd_check() {
									if (document.search.keyword.value == '') {
										alert('검색어를 입력하세요');
										document.search.keyword.focus();
										return false;
									}
								}
							</script>
							<!-- javascript:검색어 체크 -->
							
		<!------------------------HEADER::공통------------------------>
							
		<!------------------------메인------------------------>
		
	 	<!-- -----------------대댓글용 -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
	 	<script type="text/javascript">
	 	//대댓글 입력창
        $(document).on("click","td[id='comment']",function(){ //동적 이벤트
            var Group_Seq = $(this).attr("Group_Seq");

        	alert("Group_Seq:"+Group_Seq);
            //입력받는 창 등록
            var replyEditor = 
            	`<tr  class="insertComment">						
					<td colspan="6" >
					<form action="#?Group_Num=`+Group_Seq+`method="post">	
					<textarea name="Comment_Con" placeholder="댓글내용을 입력하세요"></textarea>	
					<button class="btn btn-primary" onclick="idCheckFunction();" type="button">덧글 작성하기</button>		
					</form></td>
					</tr>`;
	
		            var prevTr = $(this).parent();
		          prevTr.after(replyEditor);    
             
        });
	 	</script>
	 	<!-- -------------대댓글용 -->
		<div class="container">
			<!-- iam-wrapper -->
			<div class="iam-wrapper">
				<main class="iam-main ng-scope">
				<!--======= 책상세 ========-->
				<table class="table table-bordered " style="text-align : center; border : 1px solid #dddddd">
					<thead>
						<tr>
							<th colspan = "4"><h4><%= detail[0].Post_Title%></h4></th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<td style="background-color:#fafafa; color:#000; width:80px;"><h5>번호</h5></td>
							<td><h5> <%= detail[0].Post_Num%> </h5></td>
							<td style="background-color:#fafafa; color:#000; width:80px;"><h5>작성일자</h5></td>
							<td><h5> <%= detail[0].Write_Date%> </h5></td>
						</tr>
						<tr>
							<td style="background-color:#fafafa; color:#000; width:80px;"><h5>내용</h5></td>
							<td colspan="3"><%= detail[0].Post_Con%></td>
						 </tr>
						<!-------------if 게시글에 댓글없을 시 ------------------>
						<% if(comm.length == 0) { %>
							<tr>
								<td  style="background-color:#fafafa; color:#000; height:20px;" colspan="6" >
								작성된 댓글이 없습니다
								</td> 
							</tr>
						<% } else { %>
						<!-----------if 게시글에 댓글있을 시 ------------------>
						<tr>
							<td style="background-color:#fafafa; color:#000; height:20px;" colspan="6" >
								댓글
							</td> 
						</tr>
							<% for(var i = 0; i < comm.length; i++) { %>
								<tr>							
									<td onclick="location.href='#?id=김철수'"><%= comm[i].ID%></td>
									<td style="text-align:left;" colspan="5">
										<%= comm[i].Comment_Con%>
										<span class="pull-right insertDate">at <%= comm[i].Write_Date%></span>
									</td>
								</tr>
							<% } %>
    					<% } %>
						<!-------------if 게시글에 댓글있을 시 ------------------>
						<tr  class="insertComment">						
							<td colspan="4" ><form action="#" method="post">	
								<textarea name="Comment_Con" placeholder="댓글내용을 입력하세요"></textarea>	
								<button class="btn btn-primary" type="button">댓글 작성하기</button>		
							</form></td>
						</tr>
					</tbody>
				</table>
				<a href="#"  class="btn btn-primary pull-right btnBlue">목록으로 돌아가기</a>
				<a href="#"  class="btn btn-primary pull-right btnRed">게시글 수정하기</a>
				
				<!--======= 클럽ㄱ ㅔ시글상세 ========-->
				</main>
			</div>
		</div>
		<!------------------------메인------------------------->
	</div>
</body>
</html>
