<!------------------------HEADER :: 공통 ----------------------->
<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <%-include('head/header.ejs')%>
  </head>

  <body class="fp-bodybg">
    fds
  </body>
</html>
