/*******일괄 설정************/
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    font-family: 'Nanum Gothic';
}
div {
    display: block;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
button, html, input, select, textarea {
    font-family: Roboto, Helvetica Neue, sans-serif;
}
body, html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: #f7f7f7;
    font-family: Arial, Roboto, "Helvetica Neue", "Apple Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
[lang=ko] body {
    font-family: 'SamsungOneKorean', Arial, Roboto, "Helvetica Neue", "Apple Gothic", sans-serif;
}
body.block-ui {
    position: static;
}
.iam-signinUI {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: top center;
}
.block-ui {
    position: relative;
}
.iam-wrapper .iam-wrapper:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .1;
    z-index: 1;
}
form {
    display: block;
    margin-top: 0em;
}fieldset {
    border: 0 none;
}
legend {
    display: none;
}a {
    color: #1428a0;
}
.iam-button {
    min-height: 3.125em;
    min-width: 180px;
    padding: .5em 1.5em;
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: .5em;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2;
    letter-spacing: .01em;
    word-break: break-all;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
}
button {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}
/**** 일괄 끝 ****/

/** main **/
.iam-wrapper main {   
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 60px 0 0;
    z-index: 2;
}

/** contents **/
.iam-main-inner {    border: 2px solid #ccc;
    position: relative;
    width: 600px;
    margin: auto;
    padding: 50px;
    background-color: rgba(255,255,255,0.9);
}

/** 제목 **/
.iam-wrapper h2 {
    margin-bottom: 10px;
    color: #1428a0;
    font-weight: bold;
    font-size: 40px;    font-family: 'Nanum Gothic';
}

/**********form*********/

/** input **/
.iam-input-container {
    display: block;
    position: relative;
    z-index: 1;    margin: 1.4em 0;
}
.iam-input-container > label {
    position: absolute;
    top: -3px;
    left: auto;
    max-width: 100%;
    height: 2.7em;
    line-height: 2.7em;
    color: #767676;
    font-size: 1.142em;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all .2s;
    transition: all .2s;
    /* z-index: -1; */
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate3d(0, 3px, 0) scale(1);
    transform: translate3d(0, 3px, 0) scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.iam-input-container > input, .iam-input-container > select, .iam-input-container > textarea {
    display: block;
    width: 100%;
    color: #000;
    border: none;
    border-bottom: 1px solid #DDD;
    background-color: transparent;
    box-sizing: border-box;
}
.iam-input-container > input, .iam-input-container > select {
    height: 2.7em;
    line-height: 1.2;
    font-size: 1.142em;
}
.iam-input-container > input, .iam-input-container > textarea {
    padding: 0;
}

/** error **/
.iam-input-container .error-msg {
    font-size: .875em;
    color: #d0021b;
    display: none;
    margin-top: .625em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

/** rememberID **/
.iam-wrapper #rememberID {
    margin-top: -16px;
}
.iam-radio {
    width: 100%;
    box-sizing: border-box;
    clear: both;
    margin-bottom: .625em;
    padding-left: 1.875em;
    background: url(https://account.samsung.com/accounts/v1/resources/images/v2/ico_check.png) no-repeat right bottom;
    background-size: 0;
}
.iam-radio input[type=checkbox]:not(old), .iam-radio input[type=radio]:not(old) {
    margin: 0;
    padding: 0;
    margin-left: -28px;
    background-color: transparent;
    border: none;
    border: 0;
    border-color: transparent;
    vertical-align: bottom;
    width: 1.375em;
    height: 1.375em;
    position: relative;
    z-index: 2;
}

.iam-radio label {
    word-break: break-all;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    /**margin-left: -1.6em;**/
    line-height: 1.3;
    box-sizing: border-box;
    vertical-align: -webkit-baseline-middle;
}
/** 로그인 버튼 **/

.iam-wrapper .iam-signIn-button .iam-button {
    margin: 0;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}

.iam-button.iam-primary {
    background-color: #1428a0;
    border-color: #1428a0;
    color: #fff;
}
.iam-wrapper .iam-signIn-button {
    width: 100%;
    margin: 3.75em 0 2.5em;
    text-align: center;
}


/**********form********/

/** ID 찾기 또는 .. **/
.iam-signIn-link {
    text-align: center;
    width: 100%;
}
.iam-signIn-link a:first-child {
    display: block;
    margin-bottom: 4px;
}
/** 버튼 **/
.iam-wrapper .iam-contents .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    background: url(img/x.png) no-repeat;
    background-size: 24px;
}
button {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}