<% var a = 0 %>
<% a = star[0].starAvg*20%>
	<div style="CLEAR: both; text-align:center;PADDING-LEFT: 0px;	BACKGROUND: url(../../public/img/icon_star2.gif) 0px 0px;   text-align: center;	PADDING-BOTTOM: 0px;	MARGIN: 0px;	WIDTH: 90px;	PADDING-TOP: 0px;	HEIGHT: 18px; margin-left: 45%;">
	<p style="WIDTH: <%= a%>%; PADDING-RIGHT:0px;	margin-left:40%; PADDING-LEFT:0px;	BACKGROUND: url(../../public/img/icon_star.gif) 0px 0px;	PADDING-BOTTOM: 0px;	MARGIN: 0px;	PADDING-TOP: 0px;	HEIGHT: 18px;">
	</p>
	</div>
